/***********************************************colors**************************************************************/
$color-red-main:#E00000;
$color-red-primary:#FE5858;
$color-red-secondary:#FFD6D6;

$color-black-main:#000000;
$color-black-primary:#313144;
$color-black-secondary:#C4C4C4;

$color-white-main:#ffffff;
$color-white-primary:#D8D8D8;
$color-white-secondary:#E5E5E5;

$color-contact-field:#B8BBC2;

/***********************************************breakpoints**************************************************************/
$breakpoint__small_tablet: 920px;
$breakpoint__large_phone: 700px;
$breakpoint__small_phone: 375px;

/***********************************************environnement**************************************************************/
$hero_header_size: 962px;/*962px*/
$hero_header_size_mobile: 379px;/*379px*/
$appear-animation-duration: 1s;

/***********************************************fonts**************************************************************/
/* space-mono - latin */
@font-face {
  font-display: swap; 
  font-family: 'SpaceMono';
  font-style: normal;
  font-weight: 400;
  src: url('../fonts/space-mono-v13-latin-regular.woff2') format('woff2'); 
}
/* space-mono-italic - latin */
@font-face {
  font-display: swap; 
  font-family: 'SpaceMono';
  font-style: italic;
  font-weight: 400;
  src: url('../fonts/space-mono-v13-latin-italic.woff2') format('woff2'); 
}
/* space-mono-700 - latin */
@font-face {
  font-display: swap; 
  font-family: 'SpaceMono';
  font-style: normal;
  font-weight: 700;
  src: url('../fonts/space-mono-v13-latin-700.woff2') format('woff2'); 
}
/* space-mono-700italic - latin */
@font-face {
  font-display: swap; 
  font-family: 'SpaceMono';
  font-style: italic;
  font-weight: 700;
  src: url('../fonts/space-mono-v13-latin-700italic.woff2') format('woff2'); 
}
/* poppins-300 - latin */
@font-face {
  font-display: swap; 
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 300;
  src: url('../fonts/poppins-v20-latin-300.woff2') format('woff2'); 
}
/* poppins-300italic - latin */
@font-face {
  font-display: swap; 
  font-family: 'Poppins';
  font-style: italic;
  font-weight: 300;
  src: url('../fonts/poppins-v20-latin-300italic.woff2') format('woff2'); 
}
/***********************************************mixin**************************************************************/
@mixin button-hover-animation {
  width: 272px;
  height: 50px;
  border: none;
  &:hover {
    animation: nav__button__hover 0.5s ease-in-out;
    background-color: $color-red-main;
    color: $color-white-main;
  }

}

@mixin photo-gallery-wrapper {
  width: 100%;
  justify-content: center;
  padding-bottom: 45PX;
  h1{
    text-align: center;
  }
  .post__suggest__img{
    width: 100%;
    margin: 0;
    display: flex;
    flex-flow: wrap row;
    justify-content: center;
  }
  .gallery__button{
    display: flex;
    justify-content: center;
    #load-more-button{
      margin-top: 30px;
      margin-bottom: 40px;
      @include button-hover-animation;
      font-family:SpaceMono ;
      font-size: 0.75em;
      font-weight: 400;
    }
  }
}
@mixin photo-hover {
  .suggest__img__item:hover{
    filter: drop-shadow(11px 11px 9px #000000);
    z-index: 1;
    transform: scale(1.05) rotate(3deg);
    transition: 100ms cubic-bezier(0.075, 0.82, 0.165, 1);
  } 
}

*{
  margin: 0 auto;
}
body{
  max-width:1440px;
}
h1 {
  font-family:SpaceMono ;
  font-size: 6em;
  font-weight: 700;
  font-style: italic;
  color: $color-black-main;
  @media screen and (max-width: $breakpoint__large_phone) {
    font-size: 1.724em;
  }
}

h2 {
  font-family:SpaceMono ;
  font-size: 4.125em;
  font-weight: 400;
  font-style: italic;
  color: $color-black-main;
  @media screen and (max-width: $breakpoint__large_phone) {
    font-size: 2.875em;
  }
}

h3 {
  font-family:SpaceMono ;
  font-size: 1.125em;
  font-weight: 400;
  color: $color-black-main;
  @media screen and (max-width: $breakpoint__large_phone) {
    font-size: 1.666em;
  }
}

.modal__form__text {
  font-family:Poppins ;
  font-size: 0.75em;
  font-weight: 500;
  color: $color-black-main;
}

p{
  font-family:Poppins ;
  font-size: 0.875em;
  font-weight: 300;
  color: $color-black-main;
}

.photo__text__description{
  font-family:SpaceMono ;
  font-size: 0.875em;
  font-weight: 400;
  color: $color-black-main;
}
  
.header {
    display: flex;
    width: 100%;
    height: 80px;

    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    @media screen and (max-width:$breakpoint__large_phone) {
    justify-content: space-evenly;
    }
    .header__logo {
        padding-top: 31px;
        margin: 0;
      img {
        width: 216px;
        height: 14px;
        padding-left: 6em;
      }
    }
    .main-navigation{
      margin-right: 20px;
    }


/* Style du menu principal */
.nav__menu__wrapper {
    .nav__menu {
        padding-top: 31px;
        width: 100% ;
        display:flex;
        flex-direction: row;
        row-gap: 1em;
        li {         
            width: fit-content;
            display: inline-block;
            list-style: none;
            
            a {
                text-decoration: none;
                color: $color-black-main; 
                padding: 10px 15px;
                font-family:SpaceMono ;
                font-size: 1em;
                font-weight: 400;             
            }
            &:hover {
              border-radius: 20px;             
              animation: nav__button__hover  0.5s ease-in-out;
              a{
                background-color: $color-red-main;                  
                color: $color-white-main; 
              }
            
          }  
        }
      }

    }

}

/* Style du menu du burger */
@media screen and (min-width:$breakpoint__large_phone) {
.burger__btn{
  display: none;

}
.close__burger__btn{
  display: none;
}
}
@media screen and (max-width:$breakpoint__large_phone) {
  .burger__btn{
    width: 27.42px;
    padding-top: 25px;
  
  }
  .close__burger__btn{
    font-size: 2em;
    font-weight: 700;
    text-decoration: none;
    color: $color-black-main; 
  
  }
  .overlay {
    height:0%;
    width: 100%;
    overflow-x: hidden;
    position: fixed;
    z-index: 3;
    left: 0;
    top: 110px;
    background-color: $color-red-main;
    overflow-x: hidden;
    transition: 1s;
    opacity: 0;
    .overlay-content {
      position: relative;
      top: 20%; 
      width: 100%; 
      text-align: center;
      margin-top: 30px; 
      .nav__menu__wrapper{
        ul{
          display: flex;
          flex-direction: column;
          font-size: 64px;
          li{
            a{
              padding: 8px;
              text-decoration: none;
              font-size: 1em;
              display: block;
              transition: 0.3s;
              color: $color-white-main;
            }
          }
        }
      }
    }  
  }
}




/* Style du menu du footer */
footer{
  border-top: $color-black-main 1px solid;
}
.menu-menu-pied-de-page-container{
    display: flex;
    justify-content: center;
    .footer-menu {
      width: 60%;
      list-style: none;
      display:flex;
      flex-direction: row;
      row-gap: 1em;
      justify-content:space-between;
      padding-top: 16px;
      row-gap: 1em;
      li {         
        display: inline-block;
        list-style: none;
      a {
        width: fit-content;
        text-decoration: none;
        color: $color-black-main; 
        font-family:SpaceMono ;
        font-size: 1em;
        font-weight: 400;
        &:hover {
          color: $color-white-primary;
        }
      }
      p{
        width: fit-content;
        text-decoration: none;
        color: $color-black-main; 
        font-family:SpaceMono ;
        font-size: 1em;
        font-weight: 400;    
      }
    }
    }
    @media screen and (max-width:$breakpoint__large_phone) {
      .footer-menu {
        width: 100%;
        flex-direction: column;
      }
    }
}

/***********************************************css modale**************************************************************/
.modal {
  display: none; 
  z-index: 1; 
  margin: auto;
  width: 597px; 
  height: 769px;
  position: fixed;
  top: 0;
  left: 50%;
  transform: translateX(-50%);  
  animation: fallIn 0.5s ease-out;
  &.fade-out {
    animation: riseUp 0.5s ease-in;
  }
  @media screen and (max-width: $breakpoint__large_phone) {
    top: 20%;
    width: 286px; 
    height:583px; 
  }
}

/* Modal Content/Box */
.modal-content {
  background-color: $color-white-main;
  margin: 15% auto; 
  padding: 20px;
  border: 5px solid $color-black-main;
  width: 100%;
  height: 100%;
  overflow: hidden;
  position: relative;
  .modal__header{
    position: relative;
    left: -50px;
    width: 885.96px;
    height: 106.05px;
    @media screen and (max-width: $breakpoint__large_phone) {
      width:459.49px ;
      height: 55px
    }
  }
  .modal_form_wrapper{
    width: 263px;
    flex-direction: column;
    padding-right: 2em;
    padding-top: 2em;
    @media screen and (max-width: $breakpoint__large_phone) {
      width: 190px;
      height:583px;
      padding-top: 1em;
    }
    .modal__form__text {
      font-family:Poppins ;
      font-size: 0.75em;
      font-weight: 600 !important;
      color: $color-black-main;
      padding-bottom: 0.32em;
      padding-top: 1.5em;
      @media screen and (max-width: $breakpoint__large_phone) {
        padding-top: 0.6em;
      }
    }
    .modal__user__field{
      border-radius: 10px;
      border: 1px solid $color-contact-field;
      width: 100%;
      height: 35px;
     
    }
    #modal__user__message{
      height: 210px;
      @media screen and (max-width: $breakpoint__large_phone) {
        height: 149px;
      }
    }
    #modal__user__button{
      margin-top: 2em;
      @include button-hover-animation;
      @media screen and (max-width: $breakpoint__large_phone) {
        margin-top: 1em;
        width: 190px;
      }
    }
  }
}
/**********************************************article:photo****************************************************************/
.post {
  display: block;
  flex-direction: column;
  width: 82%;
  @media screen and (max-width: $breakpoint__large_phone) {
    width: 100%;
  }
  .post__header{
    padding-top: 40px;
    height: 844px;
    @media screen and (max-width: $breakpoint__large_phone) {
      height: 754px;
    }
  }
  &__section {
    display: flex;
    flex-direction: row;
    @media screen and (max-width: $breakpoint__large_phone) {
      flex-direction: column-reverse;
    }
    .post__header__meta {
      width: 50%;
      border-bottom: $color-black-main 1px solid;
      align-self: flex-end;
      h1{
        text-transform: uppercase;
        font-family:SpaceMono ;
        font-size: 4.125em;
        font-weight: 400;
        font-style: italic;
      }
      p{
        font-family:SpaceMono ;
        font-size: 0.875em;
        font-weight: 400;
        padding-top: 0.875em;
        padding-bottom: 0.875em;
      }
      @media screen and (max-width: $breakpoint__large_phone) {
        width: 60%;
        height:20%;
        border-bottom: 0px ;
      }
    }
    .post__header__img{
      width: 50%;
      height: 100%;
      position: relative;
      @media screen and (max-width: $breakpoint__large_phone) {
        width: 80%;
        height: 80%;
      }
      img{
        width: 100%;
        height: 100%;
        object-fit: contain;
        
       
      }
      .post__img_fullscreen{
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        width: 34px;
        height: 34px;
        display: none;
        transition: opacity 0.3s ease;
        opacity: 0;
      }
      &:hover .post__img_fullscreen {
        display: block; 
        opacity: 1;
      }
    }
  }
  .post__body{
    height: 118px;
    border-bottom: $color-black-main 1px solid;
    @media screen and (max-width: $breakpoint__large_phone) {
      margin-top: 300px;
      border-top: $color-black-main 1px solid;
    }
    .post__contact{
      width: 50%;
      display: flex;
      flex-direction: row;
      align-items: center;
      margin: 0;
      @media screen and (max-width: $breakpoint__large_phone) {
        width: 40%;
        flex-direction: column;
        align-self: center;
      }
      p{
        margin-left: 0;
        justify-self: flex-start;
        font-family:Poppins;
        font-size: 0.875em;
        font-weight: 300;

      }
      .post__contact__button{
        margin-right: 0;
        justify-self: flex-end;
        @include button-hover-animation;
        @media screen and (max-width: $breakpoint__large_phone) {
          margin: 15px;
        }
      }
    }

    .post__miniature{
      width: 50%;
      flex-direction: column;
      margin: 0;
      justify-content: end;
      margin-top: 10px;
      @media screen and (max-width: $breakpoint__large_phone) {
        display: none;
      }
      .post__miniature__img{
        width: 81px;
        height: 71px;
        margin-right: 15px;
        position: relative;   
        img{
          width: 100%;
          height: 100%;
          object-fit: contain;
        }
        
        .thumb-nav-min{
          position: absolute;
          z-index: 2;
        }
        .current-post-thumbnail{
          z-index: 1;
        }

      }
    }
    .post__miniature__arrow{
      display: flex;
      width: 81px;
      flex-direction: row;
      margin-right: 15px; 
      padding-top: 10px;

      a{
        display: inline-block;
        &:hover {
          animation: nav__button__hover 0.5s ease-in-out;
          filter: drop-shadow(0 0 0.75rem $color-red-main);
        }
      }
      .arrow {
        width: 25px;
        &:hover {
          filter: drop-shadow(0 0 0.75rem $color-red-main);

        }
      }
    }
  }
  .post__footer{
    padding-top: 50px;
    padding-bottom: 50px;
    flex-direction: column;
    @media screen and (max-width: $breakpoint__large_phone) {
      justify-content: center;
    }
    h3 {
      margin-left: 0;
      justify-self: flex-start;
      padding-bottom: 30px;
      @media screen and (max-width: $breakpoint__large_phone) {
          margin: auto;
      }
    }
    .post__suggest__img{
      display: flex;
      flex-flow: row wrap;
      @include photo-hover;
      @media screen and (max-width: $breakpoint__large_phone) {
        justify-content: center;
        flex-flow: column wrap;
       }
    }

  }

}



/***********************************************bloc d'affichage photo**************************************************************/
.suggest__img__item {
  display: flex;
  margin: 0;
  position: relative; 

}

.suggest__img__picture {
  z-index: 0;
  display: block;
  width: 29vw;
  height: 46vh;
  margin-right: 0;
  margin: 10px;
  position: relative;

  @media screen and (max-width: $breakpoint__large_phone) {
    width: 80vw;
    height: 50vh;
  }

  img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
}

.suggest__img__hover {
  z-index: 1;
  width: calc(100% - 20px); 
  height: calc(100% - 20px); 
  position: absolute;
  overflow: hidden;
  top: 10px; 
  left: 10px; 

  @media screen and (max-width: $breakpoint__large_phone) {
    width: calc(100% - 20px);
    height: calc(100% - 20px);
  }

  .suggest__img_eyes {
    display: none;
    position: absolute;
    top: 50%;
    right: 50%;
  }

  .suggest__img_fullscreen {
    display: none;
    position: absolute;
    top: 15px;
    right: 10px;
    transition: opacity 0.3s ease;
    opacity: 0;
  }

  &:hover {
    background-color: rgba(0, 0, 0, 0.50);
    .suggest__img_eyes {
      display: block;
    }

    .suggest__img_fullscreen {
      display: block;
      opacity: 1;
    }

    .suggest__img__info {
      p {
        opacity: 1;
      }
    }
  }

  .suggest__img__info {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-end;
    width: 100%;
    height: 100%;
    p {
      opacity: 0;
      color: $color-white-main;
      margin: 5px;
    }
  }
}

.post__gallery_button {
  margin-top: 30px;
  margin-bottom: 40px;
  @include button-hover-animation;
  a {
    font-family: SpaceMono;
    font-size: 0.75em;
    font-weight: 400;
    text-decoration: none;
    color: $color-black-main;
  }
}


/***********************************************front page**************************************************************/


.pe__home_tittle {
  width: 100%;
  height: $hero_header_size;
  position: relative;

  @media screen and (max-width: $breakpoint__large_phone) {
    height: $hero_header_size_mobile;
  }

  h1 {
    z-index: 1;
    width: 100%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    -webkit-text-stroke-width: 3px;
    -webkit-text-stroke-color: $color-white-main;
    color: transparent;
    

  }
  
}

.pe__home__hero{
  background-image: url(../../../uploads/2023/12/nathalie-0-1-1024x683.webp);
  background-size: cover;
}
.pe__home__hero__picture {
  width: 100%;
  height: $hero_header_size;
  position: relative;
  @media screen and (max-width: $breakpoint__large_phone) {
    height: $hero_header_size_mobile;
    }

  img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  h1 {
    width: 100%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center; 
    -webkit-text-stroke-width: 3px;
    -webkit-text-stroke-color:$color-white-main;
    color: transparent;
  }

}
.pe__home__gallery{
  @include photo-gallery-wrapper;
  @include photo-hover;

  .pe__home__filter{
    padding-top: 50px;
    padding-bottom: 25px;
    display: flex;
    width: 79%;
    justify-content: space-between;

    @media screen and (max-width: $breakpoint__large_phone) {
     flex-direction: column;
     }

    .pe__home__filter__selector{
      width:260px !important;
      height: 43px !important;
      border-radius: 15px !important;
      border-color: $color-black-secondary;
      padding: 5px !important;

      @media screen and (max-width: $breakpoint__large_phone) {
        width: 70%;

        }

    }
    .pe__home__filter__taxonomie{
      display: flex;   
      width: 50%;
      margin: 0;
      gap: 20px;
      
      @media screen and (max-width: $breakpoint__large_phone) {
        width: 100%;
        gap: 10px;
        flex-direction: column;
        justify-content: center;
        }

    }
    .pe__home__filter__date{
      margin-right: 0;
      @media screen and (max-width: $breakpoint__large_phone) {
        padding-top: 10px;
        display: flex;
        width: 100%;
        justify-content: center;
        }

    }

  }
  .gallery__button:hover{
    #load-more-button{
      background-color: $color-black-main;
      color: $color-white-main;
    }
    
  }
}

// changement du format des filtres navec select2
.select2-container{
  margin: auto !important;
}
.select2-container--default .select2-selection__arrow {
  display: none; 
}

.select2-container--default .select2-selection__rendered {
  position: relative;
}

.select2-container--default .select2-selection__rendered::after {
  content: url(../img/chevron-down-solid.svg); 
  padding-right: 10px;
  position: absolute;
  top: 50%;
  right: 5px;
  transform: translateY(-50%);
}
.select2-container--default.select2-container--open .select2-selection__rendered::after {
  content: url(../img/chevron-up-solid.svg); 
}
.select2-container--default .select2-search {
  opacity: 0; 
}

.select2-container--default .select2-selection--single {
  height: 43px !important;
  padding-top: 8px;

  &:hover, &:focus {
    border: #215AFF 1.3px solid;
  }
}

.select2-results__option {
  background-color: $color-white-main !important; 
  color: $color-black-main !important;
  margin-top: 0;

  &:first-child {
    margin-bottom: 30px;  
  }

  &:hover, &:focus {
    background-color: $color-red-main !important;
    color: $color-white-main !important; 
    font-family: Poppins;
    font-size: 1.125em;
    font-weight: 500;
    text-transform: capitalize;
  }
}


/************************************************lightbox**************************************************************/
.lightbox {
  display: none;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(3, 3, 3, 0.8);

  .lightbox__arrow{
    position: absolute;
    top: 100%;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 0;
    span{
      width: 100%;
      font-family:SpaceMono ;
      font-size: 0.75em;
      font-weight: 400;
      color: $color-white-main; 
      &:hover{
        font-size: 1em;
        font-weight: 800;
        img{
          transform: scale(1.5);
        }
      }  
    }
    .lightbox__arrow__right{
      padding-right: 10px;
      text-align: right;

    }
    .lightbox__arrow__left{
      padding-left: 10px;
      text-align: left;
    }

  }
  .lightbox-content{
    margin: 15% auto;
    padding: 20px;
    width: 80%;

    .lightbox-image-container{
      width: 100%;
      height: 100%; 
      margin: 0 auto;
      img {
        width: 100%;
        height:100%;
        object-fit: cover;
      }

    }
    .lightbox-infos-container{
      position: relative;
      width: 100%;
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      margin: 0;
      p{
        color:$color-white-main ;
        font-family:Poppins ;
        font-size: 0.875 em;
        font-weight: 500;
      }
      .lightbox-infos-container-reference{
        margin-left: 0 ;
      }
      .lightbox-infos-container-categorie{
        margin-right: 0 ;
      }
    }
  }
}

.lightbox__close{
  color:$color-white-main ;
  float: right;
  font-size: 50px;
  font-weight: bold;
  padding-top: 50px;
  padding-right: 50px;
}

.lightbox__close:hover,
.lightbox__close:focus {
  color: $color-black-main;
  text-decoration: none;
  cursor: pointer;
}

/***********************************************animation**************************************************************/
  //animation d'apparition
.pe__home_tittle {
  opacity: 0; 
  animation: fadeIn $appear-animation-duration ease-in-out forwards;

}
.lightbox,.suggest__img__item {

    animation: iris $appear-animation-duration ease-in-out;
}
.post ,.header{

  animation: scrollDown $appear-animation-duration ease-in-out forwards;
}


@keyframes nav__button__hover {
  0% {
    transform: scale(1); 
  }
  50% {
    transform: scale(1.2); 
  }
  100% {
    transform: scale(1); 
  }
}

@keyframes fallIn {
 0% {
      top: -100%;
      opacity: 0;
  }
  50%{
    top: 25%;
    opacity: 0.5;
  }
  100% {
      top: 50%;
      opacity: 1;
  }
}

@keyframes riseUp {
  0% {
       top: 50%;
       opacity: 1;
   }
   50%{
     top: 25%;
   }
   100% {
       top: -100%;
       opacity: 0;
   }
 }

 @keyframes fadeIn {
  from {
    opacity: 0;
    scale: 0;
  }
  to {
    opacity: 1;
    scale: 1;
  }
}

@keyframes iris {
  0% {
    opacity: 0;
    clip-path: circle(0% at 50% 50%);
  }
  100% {
    opacity: 1;
    clip-path: circle(100% at 50% 50%);
  }
}
@keyframes scrollDown {
  from {
    opacity: 0;
    transform: translateY(-100%);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}